<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ekko.myblog.Mappers.BlogTagMapper">

    <insert id="insertBlogTag">
        insert into blog_tag value(#{BlogTag.blogid},#{BlogTag.tagid})
    </insert>
    <delete id="deleteByBlogId">
        delete from blog_tag where blogid =#{id};
    </delete>
</mapper>