<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ekko.myblog.Mappers.CommentMapper">
    <insert id="insertComment">
        insert into comment
        value(#{comment.id}, #{comment.nickname},
        #{comment.email},#{comment.content},
        #{comment.avatar}, #{comment.createTime},
        #{comment.blogid},#{comment.parentCommentid},
        #{comment.adminComment})

    </insert>
    <select id="selectCommentByBlogid" resultType="com.ekko.myblog.pojo.Comment">
        select * from comment where blogid=#{blogid} and parentCommentid=-1 order by createtime desc
    </select>
    <select id="getSon" resultType="com.ekko.myblog.pojo.Comment">
        select * from comment where parentCommentid=#{parentid} order by createtime desc
    </select>
    <select id="selectCommentById" resultType="com.ekko.myblog.pojo.Comment">
        select * from comment where id=#{id}
    </select>
</mapper>